@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gilroy'), local('Gilroy-Regular'),
    url('./regular.woff2') format('woff2'), url('./regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('./medium.woff2') format('woff2'), url('./medium.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('./semi-bold.woff2') format('woff2'),
    url('./semi-bold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Gilroy Italic'), local('Gilroy-Italic'),
    url('./italic-regular.woff2') format('woff2'),
    url('./italic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('./italic-medium.woff2') format('woff2'),
    url('./italic-medium.woff') format('woff');
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div::-webkit-scrollbar {
  display: none;
}

.frame-shadow {
  filter: drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926));
}
